{{template "header"}}
<div class="container-fluid display-table v-align">
	<div class="row-fluid display-table-row">
		<div class="col-sm-3">
			{{template "casenavigator"}}
		</div>
		<form class="form-horizontal" role="form" action="runcase?feature=all" method="get">
		<div class="col-sm-3">
			<button class="btn btn-default orange-circle-button" href="">Run<span class="orange-circle-greater-than"></span></button>
		</div>
		</form>
		<form class="form-horizontal" role="form" action="newcase" method="get">
		<div class="col-sm-4">
			<button class="btn btn-default green-circle-button" href="newcase">New<span class="green-circle-greater-than"></span></button>
		</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="static/css/devicetestcases.css">
<script type="text/javascript" src="static/js/devicetestcases.js"></script>
{{template "footer"}}
