{{define "footer"}}
<script type="text/javascript" src="static/js/footer.js"></script>
<link rel="stylesheet" href="static/css/footer.css">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="index">ATS</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="http://www.dasannetworks.com">DASAN</a></li>
				<li><a href="http://www.dasannetworks.com">Tomato</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						MRA <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">唉!</a></li>
						<li><a href="#">哦!</a></li>
						<li><a href="#">So Ga!</a></li>
						<li class="divider"></li>
						<li><a href="#">So what ?</a></li>
						<li class="divider"></li>
						<li><a href="#">So TaMa what ?</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					© 2015, Webenlance, All rights reserved
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="design">
					<a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					© 2015, Webenlance, All rights reserved
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="design">
					<a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}
