{{template "header" .}} 
<div class="container-fluid display-table v-align">
	<div class="row-fluid display-table-row">
		<div class="col-sm-3">
			{{template "casenavigator" .DB}}
		</div>

		<form class="form-horizontal" role="form" id="newtaskform" action="newnewtask?group={{.Case.Group}}&&sgroup={{.Case.SubGroup}}&&feature={{.Case.Feature}}&&name={{.Case.Name}}" method="post">
			<fieldset>
				<div class="row-fluid">
					<legend>{{template "taskheader" .Case}}</legend>

					<div class="form-group">
						<label for="routine_description" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-4">
							<input class="form-control required col-sm-offset-2" id="task_name" name="task_name" type="text" placeholder="Do something"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="stage_name">Pre Condition</label>
						<div class="col-sm-4">
							{{$PreCondition := "precondition"}}
							{{template "condition" $PreCondition}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="stage_name">Routines</label>
						<div class="col-sm-4">
							{{$Routine := "routine"}}
							{{template "newroutine" $Routine}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="stage_name">Post Condition</label>
						<div class="col-sm-4">
							{{$PostCondition := "postcondition"}}
							{{template "condition" $PostCondition}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="stage_name">Clear</label>
						<div class="col-sm-4">
							{{$Routine := "clear"}}
							{{template "newroutine" $Routine}}
						</div>
					</div>
					<div class="form-group">
						<label for="routine_description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-5">
							<textarea id="task_description" name="task_description" class="form-control col-sm-offset-2" rows="5"></textarea>
						</div>
					</div>
				</div>
			</fieldset>     
			<fieldset>
				<div class="row-fluid">
					<legend></legend>
					<div class="col-sm-3 col-sm-offset-3">
						<button type="submit" id="continue" name="continue" class="btn icon-btn btn-success">Continue</button>
					</div>
					<div class="col-sm-4">
						<button type="submit" id="finish" name="finish" class="btn icon-btn btn-primary">Finish</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript" src="static/js/newnewtask.js"></script>
{{template "footer"}}
