{{define "taskheader"}}
	<div class="row-fluid">
		<button class="btn btn-danger"><h4>{{.Group}}</h4></button>
		<button class="btn btn-success"><h4>{{.SubGroup}}</h4></button>
		<button class="btn btn-warning"><h4>{{.Feature}}</h4></button>
		<button class="btn btn-primary"><h4>{{.Name}}</h4></button>
		<button class="btn btn-primary"><h4>Task#{{.TCount}}</h4></button>
	</div>
<link rel="stylesheet" href="static/css/caseheader.css">
<script type="text/javascript" src="static/js/caseheader.js"></script>
{{end}}
