{{define "taskheader"}}
	<div class="row-fluid">
		<button class="btn btn-danger ignore"><h4>{{.Group}}</h4></button>
		<button class="btn btn-success ignore"><h4>{{.SubGroup}}</h4></button>
		<button class="btn btn-warning ignore"><h4>{{.Feature}}</h4></button>
		<button class="btn btn-primary ignore"><h4>{{.Name}}</h4></button>
		<button class="btn btn-primary ignore"><h4>Task#{{.TCount}}</h4></button>
	</div>
<link rel="stylesheet" href="static/css/caseheader.css">
<script type="text/javascript" src="static/js/caseheader.js"></script>
{{end}}
