{{define "task"}}
<div class=task id=task0>
	<div class="row">
		<div class="col-md-4">
			<legend>Task</legend>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="task_name">Name</label>
				<div class="col-sm-4">
					<input class="form-control" id="task_name" name="task_name" type="text" placeholder="OSPF Enable/Disable"/>
				</div>
			</div>
			<div id="routines">
				<legend>Routines</legend> <a id="addroutine" class="pull-left">Add Routine</a><a id='delroutine' class="pull-right">Del routine</a>
				{{template "routine"}}
			</div>
		</div>
	</div>
</div>
{{end}}

